<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Magic Recipe</title>
<link href="styles/recipe.css" rel="stylesheet">
</head>
<body ng-controller="MagicRecipeController">
	<div class="wrapper">
   	  <article class="magic-layout">
        <div class="offset-in border">
        	<h3>Magic Recipe</h3>
            <span class="sub">Search you Fav. dishes</span>
            <section class="dish-layout">
            
            </section>
        <p>
        <input type="text" ng-model="search" />
        <input type="submit" ng-click="">
        </p>      
        </div>
          
        </article>    
    </div>

<script src="libs/require.js"  data-main="app/config.js"></script> 
</body>
</html>
